{{define ".Type.Methods.tmpl"}}
{{ $len := len .Methods }}{{ if gt $len 0 }}---

### Methods

{{ range .Methods }}
### {{link (printf "method %s" .Name) .Decl}}

{{section (fn_decl .Decl) 1}}{{section .Doc 1}}{{alert .Name }}{{ range .Examples}}{{example .}}{{end}}{{end}}{{end}}{{end}}