{{define ".Type.Methods.tmpl"}}
{{if $methods := filtered_funcs .Methods}}{{ if gt (len $methods) 0 }}---

### Methods

{{ range $methods }}
{{if not (skip_empty .Doc)}}### {{link (printf "method %s" .Name) .Decl}}

{{section (fn_decl .Decl) 1}}{{section .Doc 1}}{{alert .Name }}{{ range .Examples}}{{example .}}{{end}}{{end}}{{end}}{{end}}{{end}}{{end}}