{{define ".Type.tmpl"}}
### {{link (printf "type %s" .Name) .Decl}}

> {{code "go"}}
{{section (fmt .Decl) 1}}
> {{code}}
{{section .Doc 1}}

{{Alert .Name }}
{{ range .Examples}}{{example .}}{{end}}
---
{{ template ".Type.Methods.tmpl" . }}
{{end}}